body,html{
    height: 100%;
    padding: 0;
    margin: 0;
    font-weight: bold;
    overflow:hidden;
}
*{
    box-sizing: border-box;
}

.navbar-brand{
    cursor: default;
}

.nav-link{
    cursor: default;
}



.bgImage{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    max-height: 100%;
    background-size: cover;
    z-index: -1;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

.bgImage1{
    background-color: black;
}

@keyframes bird{
    0% {right:-250px;}
    100% {right: 0px;}
}

@keyframes flower{
    0% {left:-250px;}
    100% {left: 0px;}
}

@keyframes head{
    0% {opacity: 0%;}
    100% {opacity: 100%;}
}

@keyframes btnBottom{
    0% {bottom: -90px;}
    100%{bottom: 250px;}
}

.flower{
    position: relative;
    display: inline-block;
    margin: 380px 0 0 30px;
    height: 28%;
    width: 28%;
    animation-name: flower;
    animation-duration: 4s;
}

.bird{
    height: 30%;
    width: 30%;
    position: relative;
    float: right;
    margin: 70px 30px 0 0;
    animation-name: bird;
    animation-duration: 4s;

}

.headDiv{
    width: 400px;
    position: absolute;
    left: 50%;
    margin-left: -200px;
    top: 130px;
    margin-top: -50px;
    text-align: center;
    animation-name: head;
    animation-duration: 6s;
}

.headerStyle{
    font-weight: bold;
    color: white;
    font-size: 100px;
    font-family: 'Courgette', cursive;
    margin: 0;
}

.oneStop{
    color: white;
    font-size: 30px;
    font-family: 'Caveat', cursive;
}



.browse{
    font-family: 'Dancing Script', cursive;
    color: white;
    z-index: 2;
    background: #FDB813;
    cursor: pointer;
    text-align: center;
    font-size: 50px;
    padding: 5px 6px;
    width: 150px;
    height: 150px;
    position: relative;
    border: none;
    position: absolute;
    bottom: 250px;
    left: 50%;
    margin-left: -75px;
    border-radius: 50%;
    box-shadow: 10px 10px 10px 5px rgba(253, 184, 19, 0.2), -10px -10px 10px 5px rgba(253, 184, 19, 0.2);
    animation-name: btnBottom;
    animation-duration: 4s;
    outline: none;
}

.browse:hover{
    color: black;
    box-shadow: 10px 10px 10px 50px rgba(253, 184, 19, 0.2), -10px -10px 10px 50px rgba(253, 184, 19, 0.2);

}

