.navBarM{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.navbar{
    height: 15%;
    width:85%;
    margin: auto;
    display: flex;
    align-items: center;
}

.navItems{
    
    margin:20px 20px;
}

.navLinks{
    color: #bbbbbb;
    font-size: 18px;
    font-family: 'Noto Sans JP', sans-serif;
    text-decoration: none;
}

.navLinks:hover{
    color: #ffffff;
}

.is-active{
    color: white;
}

